html, body{
    padding:0;
    margin:0;
    overflow:hidden;
}

canvas{
    width:100vw !important;
    height:100vh !important;
}

p{
    position:absolute;
    padding:0px;
    text-align:right;
    top:700px;
    left:1200px;
    color:chartreuse;
    z-index:1000;
 }